* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: lexend;
}

body{
    display: grid;
    grid-template-columns: 1fr 5fr;
    width: 100vw;
    height: 100vh;
}

aside{
    background-color: #0F0B15;
    color: aliceblue;
    padding: 1rem;
    min-width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
aside .kanary{
    margin: 10px;
    height: 80px;
    text-align: center;
}

aside nav{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
}

aside nav div a{
    color: aliceblue;
    text-decoration: none;
}

aside .logout a{
    color: aliceblue;
    text-decoration: none;
    margin-top: 30px;
    height: 50px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


main {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #0F172A, #15142B, #1A102C) ;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #0F172A, #15142B, #1A102C) ;
    color: aliceblue;
    min-width: 0; /* previne overflow */
    align-items: center;
    align-items: center;
}


header{
    display: flex;
    padding: 1rem;
    margin-bottom: 10px;
    width: 100%;
    height: 70px;
    padding: 1rem;
    margin-bottom: 10px;
    width: 100%;
    height: 70px;
}

header form{
    width: 100%;
    margin-right: 20px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

header form input{
    width: 100%;
    border-radius: 20px;
    height: 35px;
    padding-left: 15px;
}
header .menu-header{
    /* background-color: black; */
    width: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.page-title{
    display: flex;
    padding-left: 15px;
}
header .menu-header{
    /* background-color: black; */
    width: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.page-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    height: 70px;
}

section{
    background-color: #0F0B15;
    height: calc(97% - 70px - 70px);
    width: 96%;
    border-radius: 20px;
}

main section .seletor{
    /* background-color: brown; */
    margin: 15px;
}

main section .overview{
    /* background-color: cadetblue; */
    height: 35% ;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%
}

main section .box1{
    background-color: #110c1a;
    height: 96%;
    grid-column: 1;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    margin: 10px;
}
main section .titulo{
    display: flex;
    height: 40%;
    justify-content: space-between;
    margin: 20px;
}
main section .number{
    font-size: 60px;
    margin-left: 20px;
    margin-bottom: 20px;
    
}
main section .box2{
    background-color: #110c1a;
    height: 96%;
    grid-column: 2;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    margin: 10px;
}
main section .box3{
    background-color: #110c1a;
    height: 96%;
    grid-column: 3;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    margin: 10px;
}
main section .box4{
    background-color: #110c1a;
    height: 96%;
    grid-column: 4;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    margin: 10px;
}

main section .overview2{
    display: grid;
    height: 55%;
    grid-template-columns: 60% 40%;
}

main section .progress-project{
    grid-column: 1;
    height: 100%;
    display: grid;
    grid-template-rows: 50px 80%
}
main section .progress{
    background-color: #110c1a;
    grid-row: 1;
    border-radius: 15px;
    margin: 7px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    padding: 7px;
    width: 70%;

}

main section .graphic{
    /* background-color: chartreuse; */
    padding: 10px;
}

main section .members-time{
    background-color: #110c1a;
    height: 100%;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.7);
}

main section .titulo2{
    display: flex;
    height: 40%;
    justify-content: space-between;
}

main section .member{
    display: flex;
    align-items: center;
    /* background-color: rgb(57, 22, 153); */
    height: 50px;
    justify-content: space-around;
}
main section .option-members{
    margin-top: 50px;
    display: flex;
    direction: rtl;
}