* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: lexend;
}

body{
    display: grid;
    grid-template-columns: 1fr 5fr;
    width: 100vw;
    height: 100vh;
}

aside{
    background-color: #0F0B15;
    color: aliceblue;
    padding: 1rem;
    min-width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
aside .kanary{
    margin: 10px;
    height: 80px;
    text-align: center;
}

aside nav{
    margin-left: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
}

aside nav div a{
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
}

aside .logout a{
    color: aliceblue;
    text-decoration: none;
    margin-top: 30px;
    height: 50px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


main {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #0F172A, #15142B, #1A102C) ;
    padding-left: 10px;
    display: flex;
    color: aliceblue;
    min-width: 0; /* previne overflow */
    align-items: center;
}

/* 
header{
    display: flex;
    padding: 1rem;
    margin-bottom: 10px;
    width: 100%;
    height: 70px;
} */

/* header form{
    width: 100%;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

header form input{
    width: 100%;
    border-radius: 20px;
    height: 35px;
    padding-left: 15px;
}
header .menu-header{
    width: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 24px;
} */

/* .page-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    height: 70px;
} */

/* section{
    background-color: #0F0B15;
    height: calc(97% - 70px - 70px);
    width: 96%;
    border-radius: 20px;
} */

/* main section #seletor{
    padding-top: 20px;
    padding-left: 15px;
    height: 7%;
} */

/* main section #overview{
    height: 35%;
    gap: 10px;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-around;
} */

/* main section .box{
    background-color: #110c1a;
    height: 100%;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */
/* main section .titulo{
    display: flex;
    justify-content: space-between;
} */
/* main section .number{
    font-size: 6vw;
    margin-left: 10px;
} */
/* main section #overview2{
    display: flex;
    gap: 10px;
    height: 58%;
    padding: 15px;
} */

/* main section #progress{
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
} */
/* main section #progress h4 {
    background-color: #110c1a;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    padding: 8px;
    padding-left: 12px;
    width: 100%;
    margin-bottom: 10px;
} */
main section #progress img{
    width: 100%;
    height: 88%;
}

/* main section #members-time{
    background-color: #110c1a;
    height: 100%;
    padding: 15px;
    padding-top: 20px;
    width: 35%;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

/* main section #titulo2{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
} */