* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: lexend;
}

body{
    display: grid;
    grid-template-columns: 1fr 5fr;
    width: 100vw;
    height: 100vh;
}

aside{
    background-color: #0F0B15;
    color: aliceblue;
    padding: 1rem;
    min-width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
aside .kanary{
    margin: 10px;
    height: 80px;
    text-align: center;
}

aside nav{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
}

aside nav div a{
    color: aliceblue;
    text-decoration: none;
}

aside .logout a{
    color: aliceblue;
    text-decoration: none;
    margin-top: 30px;
    height: 50px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


main {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #0F172A, #15142B, #1A102C) ;
    color: aliceblue;
    min-width: 0; /* previne overflow */
    align-items: center;
}

header{
    display: flex;
    padding: 1rem;
    margin-bottom: 10px;
    width: 100%;
    height: 70px;
}

header form{
    width: 100%;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

header form input{
    width: 100%;
    border-radius: 20px;
    height: 35px;
    padding-left: 15px;
}
header .menu-header{
    /* background-color: black; */
    width: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.page-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    height: 70px;
}

section{
    background-color: #0F0B15;
    height: calc(97% - 70px - 70px);
    width: 96%;
    border-radius: 20px;
}
